*
{margin: 0;

padding: 0;
box-sizing: border-box;
}


#navlist {
    list-style: none;
}


.navcontainer{ 

    width: 100vw;
    
    background-color: rgb(55, 81, 72);
}
.container{
    width: 100vh;
    height: 100vh;
    overflow-x: none;
}































