*
{margin: 0;

padding: 0;
box-sizing: border-box;
font-family:cursive;
text-decoration-color: rgb(238, 123, 8);

}


#navlist {
  
    font-size: 1.0rem;
   
  
 
}


.navcontainer{ 
    
 
    
}
.container{
   
    width: 90%;
   margin: 0 auto;
 display: flex;
justify-content: space-between;

li{
    list-style: none;
display: inline;
margin-left: 30px; 
font-weight: 200;
}

    
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(214, 120, 69);
}

header{
    width: 100%;
    color:rgb(18, 21, 21);
    height: 75 px;
    background-color: rgb(239, 135, 30);
 align-items: center;
 display: flex;
   color: azure;
}

.logo{
    font-size: 30px;

}

.food{
    width: 100%;
    height:350px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOCDDJrf2Lt2U0GC-ohGrRTb3gy66V_6avPg&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.foodoic{
    color: rgb(248, 243, 242);;
}

h2{
    color: black;
    font-weight: 900;
}


















